<p>The <code>and</code> operator means if both the statement before and the statement after are true then the whole expression is true otherwise the whole expression is false. The behavior of <code>and</code> can be summarized as follows:</p>
<table>
<tbody><tr>
<th>expression</th>
<th>result</th>
</tr>
<tr>
<td>true <code>and</code> true</td>
<td>true</td>
</tr>
<tr>
<td>true <code>and</code> false</td>
<td>false</td>
</tr>
<tr>
<td>false <code>and</code> true</td>
<td>false</td>
</tr>
<tr>
<td>false <code>and</code> false</td>
<td>false</td>
</tr>
</tbody></table>
<p>Notice that if the first expression is false Python does not check the second expression since it knows the whole expression is false.</p>