<p>The <code>elif</code> keyword is short for "else if" and is used along with the <code>if</code> keyword to create if/else statements, which are how you direct Python to different things based on some condition. For example:</p>

<pre><code>x = 15
if x < 10
  print "x is less than ten"
elif x > 10:
  print "x is greater than ten"
else
  print "x is 10"
</code></pre>

<p>When this code is run, the statements associated with the <code>elif</code> block will be run and "x is greater than ten" will be printed because 15 is greater than 10.</p>