<p>The <code>else</code> keyword is used along with the <code>if</code> keyword to create if/else statements, which are how you direct Python to different things based on some condition. For example:</p>

<pre><code>x = 1
if x < 10
  print "x is less than ten"
else:
  print "x is greater than ten"
</code></pre>

<p>When this code is run, the <code>print "x is less than ten"</code> statement will be run because 1 is less than 10.  However, if the first line instead was <code>x = 20</code>, then the statements associated with the <code>else</code> block will be run and "x is greater than ten" will be printed instead.</p>