<p>The <code>if</code> keyword is used to create <code>if</code> statements, which are how you direct Python to do something only if some condition is true. For example:</p>

<pre><code>if True:
  print "That's true!"
</code></pre>

<p>When this code is run, the words <code>print "That's true!"</code> will be run, but what if the code was instead:</p>

<pre><code>if False:
  print "That's not true!"
</code></pre>

<p>In this case, nothing would be printed because the <code>if</code> statement would be false.</p>
