<p>The <code>or</code> operator returns true if the first expression is true, or if the second expression is true or both are true. If neither are true it returns false. Here's the table:</p>
<table>
<tbody><tr>
<th>expression</th>
<th>result</th>
</tr>
<tr>
<td>true <code>or</code> true</td>
<td>true</td>
</tr>
<tr>
<td>true <code>or</code> false</td>
<td>true</td>
</tr>
<tr>
<td>false <code>or</code> true</td>
<td>true</td>
</tr>
<tr>
<td>false <code>or</code> false</td>
<td>false</td>
</tr>
</tbody></table>
<p>Notice that if the first expression is true Python doesn't check the second expression since it knows the whole expression is true. This works since <code>or</code> is true if at least one half of the expression is true. The first part is true so the second part could be either false or true, but the whole expression is still true.</p>