<p>The <code>for</code> keyword is used to create for loops, which allow us to repeat instructions for each item in a collection.</p>

<p>For example, we can loop over a list of items like this:</p>

<pre><code>list = ["a", "b", "c", "d"]
for letter in list:
  print letter
</code></pre>

<p>We can also loop over any iterable object, like strings and dictionaries.</p>

<pre><code>
# print all the letters in a string
for letter in "":
  print letter

# print all the keys in a dictionary
numbers = {'one': 1, 'two': 2, 'three': 3}
for name in numbers:
  print name
</code></pre>